
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.noto-serif-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-color: #f9f9f9;
}

/* common style are here  */

.cmn-color{
    color: #E95A08;
}
.cmn-text{
    color: gray;
    font-size: 22px;
}




.navbar-container {
  /* optional, you can change */
  /* padding: 20px 0; */
  margin-top: 20px;
  margin-bottom: 100px;
}

.navbar {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
}

.logo img {
  width: 135px;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 30px;
}


.nav-links a {
  text-decoration: none;
  color: #333;
  /* font-weight: 500; */
}

.nav-links a.active {
  font-weight: bold;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* banner style is here  */

.banner-container{
    max-width: 1140px;
    margin: 0 auto;
    border: 2px solid green;
    margin-bottom: 100px;
}
.flower-div{
    display: flex;
    align-items:center;
}
/* .flower-desc{
    max-width: 500px;
    border: 2px solid hotpink;
} */
.flowers-title{
    font-weight: bold;
    font-size: 60px;
}
.flower-img{
    max-width: 570px;
    height: 300px;
}

/* the plant's section is strat here  */

.plants-section {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 40px 20px; */
  text-align: center;
  /* border: 2px solid firebrick; */
}

.section-header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.section-header .highlight {
  color: orange;
}

.section-header p {
  max-width: 700px;
  margin: 10px auto 20px;
  font-size:18px;
  color:rgba(0, 0, 0, 0.5);
}

.section-header .underline {
 max-width: 1000px;
  height: 3px;
  background-color: pink;
  margin: 0 auto 30px;
}

.plants-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* .plant-card {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
} */

.plant-card img {
  width: 270px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.plant-card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.plant-card .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: darkorange;
}



/* media screen control here  */

@media screen and (max-width:576px) {
    .navbar{
        padding: 10px;
    }
    .hide{
      display: none;  
    }
    .flower-div{
        flex-direction: column-reverse;
    }
    .flowers-title{
    font-weight: bold;
    font-size: 30px;
   }
   .banner-container{
   padding: 10px;
   }
  
   .navbar-container{
    margin-bottom: 50px;
   }
   .plants-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
}
